*{
  margin: 0px;
  padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300&display=swap');

.text-font{
font-family: 'Livvic', sans-serif;
}

.padding-1{
  padding: 3rem;
}
.container{
  width: 90%;
}
.df{
  display: flex;
}
.justify-content-betw{
  justify-content: space-between;
}
.StyleText{
  font-weight: bold;
  font-size: 64px;
  color: #111111;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 20%;
}
.styleTextDescription{
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: #111111;
}
.btnStyles{
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #015351;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  margin-top: 25px;
}
.btnWhiteStyles{
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
  color: #015351;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  margin-top: 25px;
}
.align-items-centr{
  align-items: center;
}
.text-center{
  text-align: center;
}
.justify-content-centr{
  justify-content: center;
}
.LinesStyle{
  border: 1px solid #B3AFAF;
}
.FeatureTextStyles{
  padding-top: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  font-style: normal;
}
.SpaceAllImages{
  margin-right: 10%;
  margin-left: 5%;
  margin-top: 25px;
}
.MoneyAfricaWithVideoDescription{
  background-color: #E3EEE7;
}
.VideodescriptionContainer{
  width: 100%;
}
.PaddingTopAndBottom{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.VideoDescriptionText{
  font-weight: 500;
  color: #111111;
  font-size: 50px;
  font-style: normal;
}
.videoDescriptionText{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #111111;
}
.BtnWatchVideoStyle{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #015351;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.BtnWatchVideoNoStyles{
   padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  color: #111111;
  border: none;
  border-radius: 8px;
  background-color: #E3EEE7;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.MoneyAfricaDescriptionWithCards{
  background-color: #F3F4F5;
}
.TextStylesForTextDes{
  font-weight: 500;
  font-size: 50px;
  color: #111111;
  margin-top: 30px;
}
.MoreTextStylesForTextDes{
  font-size: 18px;
  font-weight: 400;
  color: #111111;
  margin-top: 15px;
}
.CardForMoneyAfricaTextDescription{
  background-color: #fff;
  padding-right: 50px;
  margin-top: 30px;
  border-radius: 2px;
  width: 120%;
}

.PremiumText{
  font-weight: 500;
  font-size: 32px;
  color: #111111;
  padding-left: 20px;
  padding-top: 20px;
}
.MoneyCardText{
  font-weight: 400;
  font-size: 18px;
  color: #111111;
  padding-left: 20px;
  padding-bottom: 50px;
}
.paddingRightForImage{
  position: relative;
  left: 11.5rem;
  margin-bottom: 0;
  bottom: -1.4rem;
  /* padding-bottom: 30px; */
}
.BAPstyle{
  position: relative;
  top: -80px;
  right: -55px;
  color: #015351;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.PlayBookpaddingRightForImage{
   position: relative;
  left: 14rem;
  margin-bottom: 0;
  bottom: -1.4rem;
}
.ASingleContainerWithGrid{
  background-color: white;
  margin-top: 30px;
}
.ADAstyles{
  font-weight: 500;
  font-size: 32px;
  color: #111111;
}
.improveText{
  font-weight: 400;
  font-size: 18px;
  color: #111111;
}
.footerText{
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  font-style: normal;
}
.PaddingForIcon{
  padding-right: 20px;
  padding-top: 10px;
  cursor: pointer;
}
.SpaceAllFooterText{
  padding-top: 30px;
}
.font-bolder{
  font-weight: bolder;
}
.FooterText{
  font-weight: 400;
  font-size: 16px;
  color: #7C7C7C;
}
.inputWidth{
  width: 180% !important;
  border-top: none;
  outline: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #E3EEE7;
}
.SubmitButton{
  margin-top: 8%;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  background-color: #C03E21;
  border: none;
  color: #fff;
  cursor:pointer;
}
.ContactUsText{
  font-weight: 500;
  font-size: 50px;
  color: #111111;
  font-style: none;
}
.ContactUsTextFont{
  font-weight: 400;
  font-size: 18px;
  color: #111111;
  font-style: normal;
  margin-top: 10px;
}
.MoneyAfricaContactUsForm{
  margin: 0 auto;
  width: 40%;
  border: 1px solid #E3EEE7;
  border-radius: 4px;
}
.InputTextForContactForm{
  width: 100%;
  outline: none;
  border-bottom: 1px solid #E3EEE7;
  border-top: none;
  border-left: none;
  border-right: none;
}
.paddingForContactFormCard{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.YourNameStyles{
  color: #E3EEE7;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  padding-bottom: 10px;
  /* padding-top: 10px; */
}
.EmailStyles{
    color: #E3EEE7;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  padding-bottom: 10px;
  padding-top: 30px;
}
.FAQStyles{
  width: 100%;
  border-top: none;
  outline: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #E3EEE7;
}
.MessageStyles{
    width: 100%;
  border-top: none;
  outline: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #E3EEE7;
  padding-top: 20%;
}
.SendMessageButtonStyle{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #015351;
  color: #fff;
  border: none;
  margin-top: 40px;
  border-radius: 8px;
  margin-left: 26rem;
  cursor: pointer;
}
.StylesPathnerText{
  font-weight: 500;
  font-size: 50px;
  color: #111111;
  font-style: normal;
}
.PathnerText{
  font-weight: 400;
  font-size: 18px;
  color: #111111;
  font-style: normal;
  padding-top: 10px;
}
.MoneyAfricaPremiumPage{
  background-color: #E3EEE7;
  padding: 5rem;
}

.padding-5{
  padding: 3%;
}
.GrowFinancialTextStyle{
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  color: #111111;
}
.MoreFinancialTextStyle{
  font-style: normal;
  color: #111111;
  font-size: 18px;
  font-weight: 400;
}
.CardBorderOne{
  border: 1px solid #E3EEE7;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    margin-right: -5px;

}
.stylePremiumText{
  color: #128E1F;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-right: 25px;
 padding-left: 15px;
}
.StyleTextForMonthly{
padding-top: 10px;
    padding-bottom: 10px;
    padding-right: -2px;
    padding-left: 29px;
    color: #7C7C7C;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #30656F;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.StyleTextForToggleButton{
    padding-bottom: 10px;
    padding-right: -2px;
    padding-left: 32px;
}
.StyleYearlyText{
 padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 43px;
    color: #7C7C7C;
}
.StyleAmountText{
  padding-top: 20px;
 padding-bottom: 18px;
 padding-right: 25px;
 padding-left: 24px;
 font-weight: 500;
 font-size: 32px;
 font-style: normal;
 color: #111111;
}
.PerYearStyles{
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #B3AFAF;
  
}
.StyleCardLines{
  border:1px solid  #E3EEE7;
}
.PaddingRightMarkIcon{
  padding-left: 20px;
  padding-top: 20px;
}
.CardText{
  padding-left: 20px;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #111111;
}
.PaddingRightTopMarkIcon{
  padding-left: 20px;
  padding-top: 30px;
}
.SubBtn{
  margin-left: 12%;
  margin-top: 50px;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #015351;
  margin-bottom: 20px;
}
.CardTextForLst{
  padding-top: 30px;
  padding-left: 20px;
}
.FAQStylesText{
  font-weight: 500;
  font-size: 36px;
  font-style: none;
  color: #111111;
}
.FAQtextStyles{
     padding-top: 5%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #111111;
    padding-bottom: 40px;
}
.MoneyAfricaAAccordion{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}
.PositionAccordionStylesWithLines{
  position: relative;
}
.PositionPlusImage{
  position: absolute;
  left: 66rem;
  top: -5rem;
  cursor: pointer;
}
.styleAccordionLine{
  border: 1px solid #E3EEE7;
}
.SpacingForAccordionLink{
  margin-top: 5%;
  font-weight: 400;
  font-size: 18px;
  color: #7C7C7C;
  font-style: normal;
}
.SendUsAMessageTextStyles{
   font-size: 18px;
  color: #C03E21;
  font-style: normal;
  border-bottom: 1px solid #C03E21;
  cursor: pointer;
}
.TATStyles{
  font-weight: 500;
  font-size: 36px;
  color: #111111;
  margin-top: 7%;
}
.MoreTATTextStyles{
  font-weight: 400;
  font-size: 18;
  color: #111111;
  margin-top: 10px;
}
.MoneyAfricaTestimonialCards{
 margin: 30px;
}
.CardOne{
  border: 1px solid #015351;
  padding: 10px;
  border-radius: 10px;
}
.CardTwo{
   border: 1px solid #E5E5E5;
  padding: 10px;
  border-radius: 10px;
}
.TestimonialNameStyles{
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 18px;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
}
.TestimonialDescriptionStyles{
  padding-left: 18px;
  padding-right: 10px;
  padding-bottom: 15%;
}
.TestimonialDescriptionStylesTwo{
  padding-left: 18px;
  padding-right: 30px;
  padding-bottom: 39%;
}
.TestimonialDescriptionStylesOne{
  padding-left: 18px;
  padding-right: 30px;
  padding-bottom: 27%;
}