*{
  margin: 0px;
  padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300&display=swap');

.text-font{
font-family: 'Livvic', sans-serif;
}

.padding-1{
  padding: 3rem;
}
.container{
  width: 90%;
}
.df{
  display: flex;
}
.justify-content-betw{
  justify-content: space-between;
}
.StyleText{
  font-weight: bold;
  font-size: 64px;
  color: #111111;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 20%;
}
.styleTextDescription{
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: #111111;
}
.btnStyles{
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #015351;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  margin-top: 25px;
}
.btnWhiteStyles{
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
  color: #015351;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  margin-top: 25px;
}
.align-items-centr{
  align-items: center;
}
.text-center{
  text-align: center;
}
.justify-content-centr{
  justify-content: center;
}
.LinesStyle{
  border: 1px solid #B3AFAF;
}
.FeatureTextStyles{
  padding-top: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  font-style: normal;
}
.SpaceAllImages{
  margin-right: 10%;
  margin-left: 5%;
  margin-top: 25px;
}